.location {
  display: flex;

  & h5 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }

  & address {
    font-style: normal;
    color: grey;
  }

  & svg {
    margin-right: 2rem;
    font-size: 1.8rem;
  }
}
