.formButton {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgb(131, 131, 131);
  }

  &:focus {
    outline: none;
  }
}
