.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 90rem;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  flex: 1;
}

.content {
  margin-top: 3rem;
}

.introduction {
  margin-bottom: 5rem;
  line-height: 30px;
  font-weight: 600;
}

.steps {
  & > h3:not(:first-child) {
    margin-top: 2.5rem;
  }

  & > p {
    margin-top: 1rem;
    word-spacing: 3px;
    line-height: 30px;
    color: rgb(88, 88, 88);
  }
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  .introduction {
    flex-basis: 40%;
    max-width: 30rem;
  }

  .steps {
    flex-basis: 50%;
  }
}
