.container {
  display: flex;
  align-items: center;
  margin: 0 1rem;

  & img {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & span {
      display: flex;
      align-items: center;

      & svg {
        margin-left: 0.3rem;
      }
    }
  }
}
